.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.formColumns {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.form-input {
  margin: 10px;
  border: 1px solid black;
  text-align: center;
  border-radius: 5px;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: gray;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: gray;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: gray;
}

input[type="text"],
textarea,
select {
  font-size: 16px;
  font-style: bold;
  color: black;
}

input[type="password"],
textarea,
select {
  font-size: 16px;
  font-style: bold;
  color: black;
}

input[type="text"]:focus {
  border: 1px solid black;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.SignupForm {
  background-color: #70adb5;
  padding: 50px;
  margin: 100px;
  border-radius: 20px;
  box-shadow: 0 0 20px 3px black;
}

.form-heading {
  font-size: xx-large;
  padding-bottom: 20px;
  color: black;
}

.form-label {
  color: black;
  font-size: large;
}
